body{
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
